body {
    background-color: white;
    color: black;
    font-style: normal;
}

a {
    color: black;
    font-style: normal;
    text-decoration-line: none;
    font-weight: bold;
}

h1 {
    color: navy;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    color: indigo;
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

form {
    color: navy;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    border-style: groove;
    border-width: 1px;
}
