h1 {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-weight: bold;
    color: navy;
    margin-left: 20px;
}

p {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-style: italic;
    color: red;
    margin-left: 20px;
}

form {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

table {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}