{% extends "layout.html" %}
{% block title %}Tag Form{% endblock %}
{% block header %}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="table">
            <div class="table-header-and-title">
                <div class="table-title">
                    <h1>Add tag</h1>
                </div>
            </div>
            <div class="table-content">
                <div class="add_edit_form">
                    <h3>Select available tag...</h3>
                    <form>
                        <select class="drop_down_btn" name="new_tag" id="new_tag">
                            {% for available_tag in tags_list %}
                                <option value="{{ available_tag.name }}">{{ available_tag.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="drop_down_btn" type="submit">Submit</button>
                    </form>
                    <h3>...or add a new tag</h3>
                    <form>
                        <input class="search-input drop_down_btn" id="new_tag" name="new_tag" type="text">
                        <button class="drop_down_btn" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}