{% extends "layout.html" %}
{% block title %}New Comment Form{% endblock %}
{% block header %}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block body %}
    <h1>Add new comment</h1>
    <form id=comment_form action="/question/{{ question_id }}/new-comment" method="POST">
        <label for="description">Comment message:</label><br>
        <textarea id="description" name="message" rows="10" cols="100"></textarea><br>
        <button type="submit">Add new comment</button>
    </form>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
