<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
{#        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">#}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_new.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block header %}{% endblock %}
            {% block nav %}
            <div class="fixed-menu">
                <div class="home_icon">
                <a href="{{ url_for("homepage") }}" >
                    <img src="{{ url_for('static', filename="icons/home.png") }}" width="50px" height="50px" alt="HOME">
                </a>
                </div>
                <div class="nav_icon">
                    <a href="{{ url_for("questions_list") }}" class="nav_button">Questions List</a>
                </div>
                <div class="nav_icon">
                    <form>
                        <label for="search_phrase">Search for phrase</label>
                        <input id="search_phrase" name="search_phrase" type="text">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
            {% block nav_extension %}
            {% endblock %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
{#            <div class="fixed-footer">© "Kto nic nie robi, ten nie popełnia błędów" - APK Team, 2020</div>#}
        {% endblock %}
    </body>
</html>
