<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_new.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block header %}{% endblock %}
{% block nav %}
    <div class="navigation-menu">
        <div class="home-button">
            <a href="{{ url_for("homepage") }}">
                <img src="{{ url_for('static', filename="icons/home.png") }}" width="50px" height="50px" alt="HOME">
            </a>
        </div>
        <div class="question-list-button">
            <a href="{{ url_for("questions_list") }}" class="nav_button">Questions List</a>
        </div>
    </div>
    {% block nav_extension %}
    {% endblock %}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>
