<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_new.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<header>
    <div class="search">
        <div class="table-search-form">
            <form action="/" methor="GET">
                {% if logged %}
                    <a href="/logout" class="text">Logout</a>
                {% else %}
                    <a href="/login" class="text">Login</a>
                    <a href="/registration" class="text">Register</a>
                {% endif %}
                <input class="search-input drop_down_btn" id="search_phrase" name="search_phrase" type="text">
                <button class="search-button drop_down_btn" type="submit">Search</button>
            </form>
        </div>
    </div>
    <input type="checkbox" id="nav_toggle" class="nav_toggle">
    <nav>
        <ul>
            <li><a href="{{ url_for("homepage") }}">Home</a></li>
            <li><a href="{{ url_for("questions_list") }}">All questions</a></li>
            <li><a href="/tags">Tags</a></li>
            {% if logged %}
                <li><a href="/user/{{ user_id }}">User page</a></li>
                <li><a href="/users">All users</a></li>
            {% endif %}
        </ul>
    </nav>
    <label for="nav_toggle" class="nav_toggle_label">
        <span></span>
    </label>
</header>
<body class="body-styling">
{% block header %}{% endblock %}
{% block nav %}
    {% block nav_extension %}
    {% endblock %}
{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
{% endblock %}
</body>
</html>
