{% extends "layout.html" %}
{% block title %}Homepage{% endblock %}
{% block header %}
{% endblock %}
{% block nav %}
    {{ super() }}
    {% block nav_extension %}
    {% endblock %}
{% endblock %}
{% block body %}
    <div class="container_nav_menu">
        <p>
            <a href="{{ url_for("add_question") }}" class="nav_button">Ask new question</a>
        </p>
        <form>
            <label for="search_phrase">Search for phrase</label>
            <input id="search_phrase" name="search_phrase" type="text">
            <button type="submit">Search</button>
        </form>
    </div>
        <div class="drop_down_container">
        <form action="{{ url_for('questions_list', sort_by=sort_by) }}", method="post">
            <select class="drop_down_btn" name="sort_by" id="sort_by">
                {% set sort_criteria = ["submission_time", "view_number", "vote_number", "title", "message"] %}
                {% for sort_by_option in sort_criteria %}
                    {% set sort_order = ["asc", "desc"] %}
                        {% for order in sort_order %}
                            <option value="{{ sort_by_option }}-{{ order }}">sort by: {{ sort_by_option }} {% if order=='asc'%} &#8595 {% else %} &#8593{% endif %}</option>
                        {% endfor %}
                {% endfor %}
            </select>
            <button class="drop_down_btn" type="submit">Sort</button>
        </form>
        </div>
    <h1>All questions</h1>
    <table class = content-table>
        {%  set headers = ["submission_time", "view_number", "vote_number", "title", "message", "vote_up", "vote_down"] %}
        <thead>
        <tr>{% for table_header in headers %}
            <th>{{ table_header.capitalize().replace("_", " ") }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for question in all_questions %}
                <tr>{% for data_header, question_detail in question.items() %}
                    {% if data_header in headers %}
                    <td>
                        {% if data_header == "title" %}
                            <a href="{{ url_for("show_question", question_id=question.get("id")|string) }}">{{ question_detail }}</a>
                        {% else %}
                            {{ question_detail }}
                        {% endif %}
                    </td>
                    {% endif %}
                {% endfor %}
                    <td>
                        <a href="{{ url_for("question_vote", question_id=question.get("id")|string, vote="up") }}" methods="POST">
                            <img src="{{ url_for('static', filename="icons/like_up.png") }}" width="50px" height="50px" alt="vote_up">
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for("question_vote", question_id=question.get("id")|string, vote="down") }}" methods="POST">
                            <img src="{{ url_for('static', filename="icons/like_down.png") }}" width="50px" height="50px" alt="vote_down">
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
