{% extends "layout.html" %}
{% block title %}Question Form{% endblock %}
{% block header %}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="table">
            <div class="table-header-and-title">
                <div class="table-title">
                    <h1>{{ "Add new question" if is_new else "Edit your question" }}</h1>
                </div>
            </div>
            <div class="table-content">
                <div class="add_edit_form">
                    <form class="form" id=question_form action={{ "/question" if is_new else "/question/" + old_record.id|string + "/edit" }} method="POST" enctype="multipart/form-data">
                        <label for="title">Question title:</label><br/>
                        <input id="title" name="title" type="text" required="required" minlength="5" value='{{ old_record.title|string }}'><br/>
                        <label for="description">Question message:</label><br/>
                        <textarea id="description" name="description" rows="10" cols="100">{{ old_record.message|string }}</textarea><br/>
                        <label>Select image</label>
                        <input type="file" name="file" id="file">
                        <button type="submit">{{ "Add new question" if is_new else "Edit your question" }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}{{ super() }}{% endblock %}
