{% extends "layout.html" %}
{% block title %} {{ record.get("title") }} {% endblock %}
{% block header %}
{% endblock %}
{% block nav %}
    {{ super() }}
    {% block nav_extension %}
        <a href="{{ url_for("add_answer", question_id=record.get("id")) }}" class="fixed-button">Add answer</a>
        <a href="{{ url_for("edit_question", question_id=record.get("id")) }}" class="fixed-button">Edit question</a>
        <a href="{{ url_for("delete_question", question_id=record.get("id")) }}" class="fixed-button">Delete question</a>
    {% endblock %}
{% endblock %}
{% block body %}
    <h1>{{ record.get("title") }}<small> ({{ record.get("id") }})</small></h1>
    <p>{{ record.get("message") }}</p>
    <p><img src="{{ url_for('static', filename="img/" + record.get("image")) }}" width="400px" height="400px" alt="No available image!"></p>
    {% if answers == [] %}
        <h3>No answers yet</h3>
    {% else %}
        <h3>Answers:</h3>
        <table class = content-table>
            <thead>
                <tr>{% for table_header in answers[0].keys() %}
                        {% if table_header != "id" and table_header != "question_id" %}
                            <th>{{ table_header.capitalize().replace("_", " ") }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for answer in answers %}
                    <tr>
                        {% for table_header, answer_detail in answer.items() %}
                            {% if table_header != "id" and table_header != "question_id" %}
                                {% if table_header == "image" %}
                                    <td>
                                        <img src="{{ url_for('static', filename="img/" + answer.get("question_id") + "/" + answer_detail) }}" width="100px" height="100px" alt="No image!">
                                    </td>
                                {% else %}
                                    <td>{{ answer_detail }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <td>
                            <a href="{{ url_for("delete_answer", answer_id=answer.get("id")) }}">Delete</a></td>
                        <td>
                            <a href="{{ url_for("answer_vote_up", answer_id=answer.get("id")) }}" methods="POST">
                                <img src="{{ url_for('static', filename="icons/like_up.png") }}" width="100px" height="100px" alt="vote_up">
                            </a>
                        </td>
                        <td>
                            <a href="{{ url_for("answer_vote_down", answer_id=answer.get("id")) }}" methods="POST">
                                <img src="{{ url_for('static', filename="icons/like_down.png") }}" width="100px" height="100px" alt="vote_down">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{%  endblock %}
{% block footer %}{{ super() }}{% endblock %}
