{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <a href="{{ url_for("add_question") }}">Ask question</a><br><br>
    <form action="{{ url_for('questions_list', sort_by=sort_by) }}", method="post">
        <select name="sort_by" id="sort_by">
            {% for sort_by_option in all_questions[0].keys() %}
            <option value="{{ sort_by_option }}">sort by: {{ sort_by_option }}</option>
            {% endfor %}
        </select>
            <button type="submit">Sort</button>
    </form>
    <table>
        <thead>
        <tr>{% for table_header in all_questions[0].keys()  %}
            <th>{{ table_header.capitalize().replace("_", " ") }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
            {% for question in all_questions %}
                <tr>{% for data_header, question_detail in question.items() %}
                    <td>{{ question_detail }}</td>
                {% endfor %}
                <td><a href="{{ url_for("edit_question", question_id=question['id']) }}">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}