{% extends "layout.html" %}
{% block title %} Tags {% endblock %}
{% block header %}
{% endblock %}
{% block nav %}
    {{ super() }}
    {% block nav_extension %}
    {% endblock %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="table">
            <div class="table-header-and-title">
                <div class="table-title">
                    <h1>Tags</h1>
                </div>
            </div>
        </div>
        {% for tag in tags %}
            <div class="table-content table-record-details">
                <div class="tags-name tags-background">
                    #{{ tag.name }} - {{ tag.amount_of_question }} questions with this tag
                </div>
            </div>
            {% for question in tag.questions %}
                <div class="table-content">
                    <div class="table-details-and-description">
                        <div class="table-record-details">
                            <div class="answers-number">
                                <div class="answers-number-value">
                                    {{ question.get("number_of_answers") }}
                                </div>
                                <div class="answers-number-text">
                                    Answers
                                </div>
                            </div>
                            <div class="view-vote-numbers">
                                <div class="view-number">
                                    <div class="view-number-value">
                                        {{ question.get("view_number") }}
                                    </div>
                                    <div class="view-number-text">
                                        Views
                                    </div>
                                </div>
                                <div class="vote-number">
                                    <div class="vote-number-value">
                                        {{ question.get("vote_number") }}
                                    </div>
                                    <div class="vote-number-text">
                                        Votes
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-record-description">
                            <div class="question-title">
                                <a href="{{ url_for("show_question", question_id=question.get("question_id")|string) }}">{{ question.get("title") }}</a>
                            </div>
                            <div class="question-message">
                                {{ question.get("message") }}
                            </div>
                        </div>
                    </div>
                    <div class="table-record-actions-panel">
                        <div class="head-of-actions-panel">
                            USER ICON
                        </div>
                        <div class="vote-section">
                            <a href="{{ url_for("vote.question_vote", question_id=question.get("question_id")|string, vote="up") }}"
                               methods="POST">
                                <img src="{{ url_for('static', filename="icons/like_up.png") }}"
                                     width="50px"
                                     height="50px"
                                     alt="vote_up">
                            </a>
                            <a href="{{ url_for("vote.question_vote", question_id=question.get("question_id")|string, vote="down") }}"
                               methods="POST">
                                <img src="{{ url_for('static', filename="icons/like_down.png") }}"
                                     width="50px"
                                     height="50px"
                                     alt="vote_down">
                            </a>
                        </div>
                        <div class="submission-time">
                            <div class="submission-time-text">
                                Update time:
                            </div>
                            <div class="submission-time-value">
                                {{ question.get("submission_time") }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
