<header>
    <h1 class="logo">Ask Mate Logo</h1>
    <div class="table-search-form">
        <form>
            <input class="drop_down_btn" id="search_phrase" name="search_phrase" type="text">
            <button class="drop_down_btn" type="submit">Search</button>
        </form>
    </div>
    <input type="checkbox" id="nav_toggle" class="nav_toggle">
    <nav>
        <ul>
            <li><a href="{{ url_for("homepage") }}" class="button-nav-home">Home</a></li>
            <li><a href="{{ url_for("questions_list") }}" class="button-nav-home">View all questions</a></li>
            <li><a href="google.com">Some Link</a></li>
            <li><a href="google.com">Some Link</a></li>
        </ul>
    </nav>
    <label for="nav_toggle" class="nav_toggle_label">
        <span></span>
    </label>
</header>
