{% extends "layout.html" %}
{% block title %} User {{ user.get("email") }}{% endblock %}
{% block header %}
{% endblock %}
{% block nav %}
    {{ super() }}
    {% block nav_extension %}
    {% endblock %}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="table">
            <div class="table-header-and-title">
                <div class="table-title">
                    <h1>User {{ user.get("email") }}</h1>
                </div>
            </div>
        </div>
        <div class="table-content">
            <div class="table-height table-details-and-description">
                <div class="table-record-details">
                    <div class="answers-number">
                        <div class="answers-number-value">
                            {{ user.get("id") }}
                        </div>
                        <div class="answers-number-text">
                            User ID
                        </div>
                    </div>
                    <div class="view-number">
                        <div class="view-number-text">
                            Reputation
                        </div>
                        <div class="view-number-value">
                            {{ user.get("reputation") }}
                        </div>
                    </div>
                </div>
                <div class="table-record-description">
                    <div class="question-title">
                        <a href="/user/{{ user.get("id")|string }}">{{ user.get("email") }}</a>
                    </div>
                    <div class="user-detail-numbers">
                        Asked {{ user.get("questions_number") }} {{ "question" if user.get("questions_number") == 1 else "questions" }}
                    </div>
                    <div class="user-detail-numbers">
                        Replied to {{ user.get("answers_number") }} {{ "question" if user.get("answers_number") == 1 else "questions" }}
                    </div>
                    <div class="user-detail-numbers">
                        Wrote {{ user.get("comments_number") }} {{ "comment" if user.get("comments_number") == 1 else "comments" }}
                    </div>
                </div>
            </div>
            <div class="table-height table-record-actions-panel">
                <div class="head-of-actions-panel">
                    USER ICON
                </div>
                <div class="submission-time">
                    <div class="submission-time-text">
                        Registration time:
                    </div>
                    <div class="submission-time-value">
                        {{ user.get("registration_time") }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
4544e4  `   QW233333333
